.rupee {
	height: 100px;
	width: 100px;
}

.container {
	width: 60%;
	text-align: center;
	margin: auto;
	background: black;
}

button {
	background: white;
}

body {
	background: #663399;

}

p, h1 {
	font-family: 'Unica One', cursive;
	color: yellow;
}