.rupee {
	height: 100px;
	width: 100px;
	margin: 3px;
}

.container {
	width: 40%;
	text-align: center;
	margin: auto;
	background: black;
}

button {
	background: #CCC4FF;
}

body {
	background: black;

}

p, h1, h2 {
	font-family: 'Unica One', cursive;
	color: yellow;
}